@import "_variables";

.login-page {
  min-height: 100vh;
  background-color: $primaryColor;

  .title {
    padding-left: 50px;
    padding-top: 30px;
    color: #ffffff;
  }

  .login-form {
    background-color: #ffffff;
    max-width: 300px;
    margin: 8% auto;
    padding: 60px 18px 30px 18px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .login-form-forgot {
    margin-top: 8px;
  }
  .login-form-button {
    width: 100%;
  }  
}
