/* Margins */

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-30 {
  margin-left: 20px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-100 {
  margin-left: 100px;
}

/* Dialog Form */

.dialog-form-btn-grp {
  text-align: right;
  border-top: 1px solid #e9e9e9;
  padding: 10px 16px 5px 10px;
  border-radius: 0 0 4px 4px;

  .save-btn {
    margin-left: 8px;
  }

}
